*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pantalla{
    position: relative;
    width: 750px;
    height: 500px;
    margin: auto;
}
.pantalla .fondo{
    width: 100%;
}
.bloque1{
    position: absolute;
    top: 45%;
    left: 16%;
    animation: movimiento 2s ease-in-out infinite;
}
.bloque2{
    position: absolute;
    top: 33%;
    right: 30%;
    animation: movimiento-2 1s ease-in-out infinite;
}
.moneda1{
    position: absolute;
    top: 34%;
    left: 21%;
    cursor: pointer;
}
.moneda2{
    position: absolute;
    top: 34%;
    left: 30%;
    cursor: pointer;
}
.moneda3{
    position: absolute;
    bottom: 35%;
    right: 4%;
    cursor: pointer;
}
.corazon{
    position: absolute;
    top: 21%;
    right: 36%;
    cursor: pointer;
}
.saltar{
    animation: salto 2s ease forwards;

}

@keyframes salto {
    0%{transform: translateY(0); opacity: 1;}
    30%{transform: translateY(-60px) scaleX(-1);}
    100%{transform: translateY(0px); opacity: 0;}
}

@keyframes movimiento{
    0%{transform: translateY(0);}
    50%{transform: translateY(15px);}
    100%{transform: translateY(0);}
}
@keyframes movimiento-2{
    0%{transform: translateX(0);}
    50%{transform: translateX(8px);}
    100%{transform: translateX(0);}
}
.hud {
position: absolute;
top: 10px;
right: 23%;
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 10px;
font-family: 'Arial', sans-serif;
font-size: 18px;
color: white;
z-index: 1000;
}

.hud-item {
display: flex;
align-items: center;
background-color: rgba(0, 0, 0, 0.5);
padding: 5px 10px;
border-radius: 8px;
}

.hud-item img {
width: 24px;
height: 24px;
margin-right: 8px;
}