*{
    margin: 0%;
    padding: 0%;
}
body {
  background-color: black;               
}
.contenedor {
  width: 100%;
  position: relative; 
  height: 100vh;
  display: flex;          
  justify-content: center; 
  align-items: center;  
}
.cementerio{
    width: 22%;
    position: relative;
}
.zombie {
    width: 15%;
    position: absolute;
    bottom: 18%;
    left: 46%;
    animation: pasosZombie 3s steps(3) infinite;
}
.titulo{
    font-weight: bolder;
    font-size: 9vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(243, 0, 0, 0.863);
    position: absolute;
    left: 41%;
    top: 15%;
    animation: titileo 1.5s infinite alternate;
}
.relampago {
  position: absolute; 
  top: 5.5%;
  left: 39%;
  width: 22%;         
  height: 89%;        
  background: white;
  opacity: 0;
  z-index: 2;         
}
.is-flashing {
  animation: flash 5s ease-in-out;
}
.jump {
  animation: jump 0.6s ease-out;
}
@keyframes jump {
  0% { bottom: 18%; }
  50% { bottom: 35%; } 
  100% { bottom: 18%; }
}
@keyframes flash {
  0% { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes pasosZombie {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10vw); 
    }
}
@keyframes titileo {
    0% {
        opacity: 1;
        text-shadow: 0 0 20px rgba(255, 0, 0, 0.404), 0 0 40px darkred;
    }
    50% {
        opacity: 0.6;
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.404), 0 0 20px darkred;
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 20px rgba(255, 0, 0, 0.404), 0 0 40px darkred;
    }
}

